@media screen and (max-width: 1100px){
    #container main #about{
        width: 90%;
        padding: 30px;
        margin: 0px auto;
    }
    
    #container main #about #about-me #authorPhoto{
        width: 30%;
        margin-left: 0px;
    }
    #container main #about #authorText p {
        font-size: 25px;
        margin-right: 0px;
        margin-top: 0px;
    }
    #container main #services {
        padding: 40px;
    }
    #container main #services h3 {
        margin-top: 0px;
    }
}
@media screen and (max-width: 911px){
    #container header #meni ul li a {
        margin-right: 5px;
    }
    
    #container main #about #about-me #authorPhoto {
        width: 60%;
    }
    #container main #about #authorText p {
        font-size: 20px;
    }
    #container main #services #service-blocks {
        flex-direction: column;
        align-items: center;
    }
    #container main #services #service-blocks .service {
        width: 60%;
    }
    #container main #contact #contact-blocks .contact {
        width: 50%;
    }#container main #contact #forma form .form #btnMessage {
        margin-left: 220px;
    }

}
@media screen and (max-width: 760px){
    #container header{
        flex-wrap: wrap;
    }
    #container header #meni{
        width: 100%;
        margin: 15px 10px;
    }
    #container header #meni ul {
        width: 100%;}

    #container main #background #title{
        width: 90%;
    }
    #container main #about h3{
        margin-bottom: 30px;
    }
    #container main #about #about-me{
        flex-wrap: wrap;
        justify-content: center;
    }
    #container main #about #about-me #authorPhoto{
        width: 80%;
        margin-bottom: 20px;
    }
    #container main #about #authorText{
        width: 100%;
    }
    #container main #about #about-me #authorPhoto img {
        margin-left: 90px;
    }
    #container main #services #service-blocks{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #container main #services #service-blocks .service{
        width: 45%;
    }
    #container main #projects{
        flex-wrap: wrap;
    }
    #container main #projects #project-blocks .project{
        width: 45%;
        margin: 20px 0px;
    }
    #container main #contact .contact-blocks .contact{
        width: 45%;
    }
    #container main #contact .icon-blocks .contact{
        width: 30%;
    }
    #container main #contact #contact-blocks .contact {
        width: 100%;
    }
    #container main #contact {
        padding-top: 40px;
    }
    #container main #contact #contact-blocks {
        margin-top: -40px;
    }
    #container main #contact #contact-blocks .contact i {
        margin-top: 50px;
    }
    #container main #contact #forma form .form #btnMessage {
        margin-left: 190px;
    }
    #container main #about #about-me #authorPhoto img {
        width: 100%;
       margin-left: 0px;
       margin-bottom: 40px;
    
    }
    
   
}
@media screen and (max-width: 450px){
    #container header #logo{
        width: 25%;
    }
    #container header #meni{
        width: 100%;
        margin: 15px 10px;
    }
    #container header #meni ul{
        flex-direction: column;
        align-items: end;
    }
    #container header #meni ul li{
        margin: 5px 0px;
        padding: 5px;
    }
    
    #container main #services #service-blocks .service{
        width: 90%;
    }
    
    #container main #projects #project-blocks .project{
        width: 90%;
    }
    
    #container main #contact .contact-blocks .contact{
        width: 80%;
    }
    #container main #contact #forma form .form{
        width: 80%;
    }
    
    #container main #contact .icon-blocks .contact{
        width: 30%;
    }
    
}